<div class="container d-flex justify-content-center">
    <div class="alert alert-success  d-flex justify-content-center" style="width: 25rem;" role="alert">
        You have successfully logged in
    </div>
</div>
<div class="container d-flex justify-content-center">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" style="align-self: center ; width: 10rem; height: 10rem;"
            src="https://image.flaticon.com/icons/svg/724/724820.svg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">

                <% if(order) {%>
            <h6 class="alert alert-primary display-5 text-center my-3">
                <%= 'Click proceed to order product: ' + order.productId + '.' %>
            </h6>
            <%}%>
    
          <form action="/order" method="POST">
            
            <input type="number" hidden name="orderQty" class="form-control" value="<%= order.orderQty %>">
            <input type="text" hidden name="sellerId" class="form-control" value="<%= order.sellerId %>">
            <input type="text" hidden name="productId" class="form-control" value="<%= order.productId %>">
            <input type="text" hidden name="orderTotal" class="form-control" value="<%= order.orderTotal %>">
            <input type="text" hidden name="userId" class="form-control" value="<%= order.userId %>">
            <input type="text" hidden name="userAdd" class="form-control" value="<%= order.userAdd %>">

            <button type="submit" class="btn btn-primary btn-block">Proceed</button>
            </form>
        </div>
        </p>
    </div>
</div>